@model company.BL.Model.jobVM
@{
    ViewBag.Title = "  إضافة  قسم";
}
<div class="block-header">
    <a>الصفحة الرئيسية/ الاقسام/اضافة قسم</a>
    <h2>
        هل  تريد  حذف  قسم @Model.jobName ?
    </h2>

</div>

<form asp-asp-controller="Department" asp-action="delete" method="post">
    <input type="text" class="form-control" asp-for="id"  style="display:none" />
    <input type="text" class="form-control" asp-for="jobName" />
    <input type="text" class="form-control" asp-for="salary" />

    <br />

    <center>
        <a asp-controller="department" asp-action="index" class="btn btn-success">رجوع</a>
        <input type="submit" value="حذف" class="btn btn-primary" />
        <input type="reset" value="الغاء" class="btn btn-danger" />

    </center>
</form>




<center>

</center>
